@using DiaryPortfolio.Application.DTOs
@using DiaryPortfolio.Application.DTOs.Reporting
@using DiaryPortfolio.Domain.Entities
@model ResumeReportDto

@{
    ViewData["Title"] = "Resume Report";
    Layout = null; // Add this!
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/resume-layout.css" />
</head>
<body>
    <div class="resume-container p-9">
        <header class="flex flex-row justify-between">
            <div class="flex flex-col">
                <div class="flex flex-row gap-2 items-center">
                    <h1 class="text-3xl font-bold">@(Model?.User?.Name ?? "Name")</h1>
                    <p>@(Model?.User?.Title ?? "Title")</p>
                </div>
                <div class="grid grid-cols-2 gap-2">
                    <span class="flex items-center gap-2">
                        <i data-lucide="mail"></i>
                        <p>@(Model?.User?.Email ?? "Email")</p>
                    </span>
                    <span class="flex items-center gap-2">
                        <i data-lucide="user"></i>   
                        <p>@(Model?.User?.Age ?? 0) years old</p>
                    </span>
                    <span class="flex items-center gap-2">
                        <i data-lucide="map-pin"></i>   
                        <p>@(Model?.User?.Address ?? "Address")</p>
                    </span>
                </div>
                <span class="flex items-center gap-2">
                    <i data-lucide="link" class="w-4 h-4"></i>   
                    <a href="https://aimanafiqbinesam.runasp.net/portfolio-management/profile/@Model?.User?.UserName" 
                        class="hover:underline" target="_blank">
                        https://aimanafiqbinesam.runasp.net/portfolio-management/profile/@Model?.User?.UserName
                    </a>
                </span>
            </div>
            <div>
                @if (!string.IsNullOrEmpty(Model?.User?.ProfilePhoto?.Url))
                {
                    <img src="@Model.User.ProfilePhoto.Url" 
                        alt="Profile Picture" 
                        class="object-cover w-32 h-32 mx-auto mb-4 border-2 border-gray-300 rounded-full" />
                }
                else
                {
                    <i class="object-cover w-32 h-32 mx-auto mb-4 border-2 border-gray-300 rounded-full" data-lucide="user"></i>
                }
            </div>
        </header>

        <div class="">
            <aside class="">
                <section>
                    <h3 class="" >Profile</h3>
                    <hr class="border-t-4 border-black" />
                    <p class="mt-2">@(Model?.User?.About ?? "About")</p>
                </section>
                
                <section>
                    <h3 class="text-red-300">Details</h3>
                    <p><strong>Age:</strong> @(Model?.User?.Age ?? 0)</p>
                </section>
            </aside>

            <main class="">
                <section>
                    <h3 class="section-title">Professional Experience</h3>
                    <hr class="border-t-4 border-black" />
                    
                    
                        @foreach (var exp in Model?.Experiencs ?? [..Enumerable.Range(0, 3).Select(_ => new ExperienceModelDto
                                  {
                                      Company = "Company",
                                      Role = "Role",
                                      StartDate = DateTime.Now,
                                      EndDate = DateTime.Now,
                                      Location = new LocationModel
                                      {
                                          AddressLine1 = "Address Line 1",
                                          AddressLine2 = "Address Line 2"
                                      },
                                      Description = "Description"
                                  })])
                        {
                            <div class="flex flex-col">
                                <div class="flex flex-row justify-between">
                                    <div class="flex flex-col">
                                        <span class="font-bold">@exp.Company</span>
                                        <span class="">@exp.Role</span>
                                    </div>
                                    <div class="flex flex-col items-end">
                                        <span class="text-sm">
                                            @exp.StartDate?.ToString("MMM yyyy") - 
                                            @(exp.EndDate.HasValue ? exp.EndDate.Value.ToString("MMM yyyy") : "Present")
                                        </span>
                                        <p class="text-sm">@exp?.Location?.AddressLine1</p>
                                        <p class="text-sm">@exp?.Location?.AddressLine2</p>
                                    </div>
                                </div>
                                <p style="white-space: pre-wrap;">@exp?.Description</p>
                            </div>
                    }
                    
                </section>
            </main>
        </div>
</div>
<script src="https://unpkg.com/lucide@1.8.0"></script>
<script>
    lucide.createIcons({
        attrs: {
        width: 16,
        height: 16,
        'stroke-width': 2
    }
    });
</script>
</body>
</html>

